/* CSS declarations go here */
.dataTable th:after{
    font-size: 12px;
    float: right;
}
.dataTable th.sorting_asc:after{
    content: '\25b2';
}
.dataTable th.sorting_desc:after{
    content: '\25bc';
}
.dataTable tbody tr.selected,
.dataTable tbody tr.edit-row,
.dataTable tbody tr.add-row
{
    background: #eee;
}
.dataTable tbody tr.editing {
    display: none;
}
.datatable-controls .btn-add:after{
    content: '+';
}
.datatable-controls .btn-delete:after{
    content: '-';
}
.datatable-controls .btn-save:after{
    content: 'save';
}